@{
    ViewData["Title"] = ViewBag.prueba;
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.prueba</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Proyecto de Credito ASP.NET Core</a>.</p>
</div>
