@{
    ViewData["Title"] = "Text ejemplo";
}

<div class="text-center">
    <h1 class="display-4">Test ejemplo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Proyecto de Credito ASP.NET Core</a>.</p>
</div>
